@charset "utf-8";


@font-face {
  font-family: 'InfinitySans-CondBoldA1';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Wemade/InfinitySans-CondBoldA1.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Wemade/InfinitySans-RegularA1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

*{
  margin: 0; 
  padding: 0; 
  font-family: 'InfinitySans-RegularA1'; 
  /*background-color: #111111;*/
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}


#wrap{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  padding-top: 240px;
  padding-bottom: 480px;
  box-sizing: border-box;
  background-color: #111111;
}

/*----------header----------*/
#header {
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;

    border-bottom: solid 1px #333333;
}
#header a{
    font-size: 14px;
    color: #999999;
}

/*----------menu----------*/
#main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

#main .content {
  width: 100%;
  margin-bottom: 160px;
}

#main .content .ko{
  font-size: 1rem;
  text-align: center;
  line-height: 136%;
  color: #dfdfdf;
  font-family: 'Pretendard-Regular';
  font-weight: lighter;
  padding-top: 32px;
  padding-bottom: 12px;
}
#main .content .en{
  font-size: 1rem;
  text-align: center;
  line-height: 136%;
  color: #999999;
  font-family: 'Pretendard-Regular';
  font-weight: lighter;
  padding-top: 32px;
  padding-bottom: 12px;
}

#main .content .no-break-ko{
  font-size: 1rem;
  text-align: center;
  line-height: 136%;
  color: #dfdfdf;
  font-family: 'Pretendard-Regular';
  font-weight: lighter;
}
#main .content .no-break-en{
  font-size: 1rem;
  text-align: center;
  line-height: 136%;
  color: #999999;
  font-family: 'Pretendard-Regular';
  font-weight: lighter;
}

#main .discribe{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff07;
}
#main .discribe p{
  font-size: 1rem;
  text-align: center;
  line-height: 136%;
  color: #dfdfdf;
  font-family: 'Pretendard-Regular';
  font-weight: lighter;
}
#main .discribe .en{
  font-size: 1rem;
  text-align: center;
  line-height: 136%;
  color: #dfdfdf;
  font-family: 'InfinitySans-RegularA1'; 
}

#main .discribe .image{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#main .discribe .image .set{
  margin: 2px;
  box-sizing: border-box;
}
#main .discribe .image .set .stext{
  font-size: 0.75rem;
  color: #999999;
}
#main .discribe .image .set img{
  width: 100%;
}
#main .discribe .notion{
  color: #666666;
}

#title{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  overflow: hidden;
}
#title .text{
  width: 100%;
  /*z-index: 997;*/
  font-size: 16.25rem;
  font-family: 'InfinitySans-CondBoldA1';
  letter-spacing: -4%;
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0);
  margin-left: -32px;
  margin-bottom: -26px;
  box-sizing: border-box;
}
#title .footer{
    position: absolute;
    /*z-index: 1000;*/
    width: 100%;
    background-color: #333333;
    padding: 30px;
    box-sizing: border-box;
    bottom: 0;
}
#title .footer p{
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #333333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555555;
    font-size: 0.875rem;
}




@media (max-width: 700px){

  #wrap{
    padding-bottom: 280px;
  }
  
  #main .content{
    padding: 20px;
  }
  #main .content .no-break{
    white-space: nowrap;
  }

  #main .discribe{
    padding: 20px;
  }

  #main .discribe .image{
    width: 100%;
    
  }

  #main .discribe .image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0%;
    padding-right: 0%;
  }

  #main .discribe .image .set{
    width: 48%;
    margin: 2px;
    box-sizing: border-box;
  }

  #title {
    overflow:visible;
  }

  #title .text{
  display: none;
  }

  /*footer*/
  #title .footer{
    padding: 20px;
  }
  #title .footer p{
    font-size: 0.75rem;
  }

}
