@charset "utf-8";


@font-face {
    font-family: 'InfinitySans-CondBoldA1';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Wemade/InfinitySans-CondBoldA1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Wemade/InfinitySans-RegularA1.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


*{
  margin: 0; 
  padding: 0; 
  font-family: 'InfinitySans-RegularA1'; 
  /*background-color: #f9f9f9;*/
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}



/*----------about----------*/
#wrap{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f9f9f9;
}

#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: solid 1px #DBDBDB;
    background-color: #f9f9f9;
    z-index: 1000;
}
#header a{
    font-size: 14px;
    color: #999999;
}


/*----------title----------*/
#wrap .title{
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
}
#wrap .title h1{
    /*font-size: 52px;*/
    font-family: 'InfinitySans-CondBoldA1'; 
    letter-spacing: -4%;
    color: #111111;

    font-size: 12.5rem;
    margin-left: -10px;
    margin-top: -20px;
    box-sizing: border-box;
}

#wrap .title .menu{
    margin-top: 140px;
    box-sizing: border-box;
}
#wrap .title .menu ul{
    display: flex;
}
#wrap .title .menu li{
    margin-right: 8px;
}
#wrap .title .menu .now{
    color: #111111;
    font-weight: 600;   
}
#wrap .title .menu .now:hover{
    background-color: #f9f9f9;
}
#wrap .title .menu li a{
    font-size: 1.2rem;
    padding: 10px;
    box-sizing: border-box;
    color: #b2b2b2;
}
#wrap .title .menu li a:hover{
    color: #111111;
}


/*----------contents----------*/

#wrap .grid{
    margin: 0 auto;
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 400px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
#wrap .grid .grid-item{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}
#wrap .grid .grid-item img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    display: block;
}
#wrap .grid .grid-item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.1);
    opacity: 0; 
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap .grid .grid-item .overlay .overlay-text{
    background-color: rgba(249, 249, 249, 0.8);
    color: #111111;
    font-size: 1rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

#wrap .grid .grid-item:hover img{
    transform: scale(1.05);
}
#wrap .grid .grid-item:hover .overlay{
    opacity: 1;
}

@media (max-width: 700px){
    #wrap .title{
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;
    }
    #wrap .grid{
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 200px;
    }

    #wrap .title h1{
        font-size: 6rem;
        margin-top: 0;
    }
    #wrap .title .menu{
        margin-top: 70px;
    }
    #wrap .title .menu li{
        margin-right: 0;
    }
    #wrap .title .menu li a{
        font-size: 1rem;
    }

    /*grid*/
    #wrap .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

}



/*----------footer----------*/
#footer{
    position: absolute;
    width: 100%;
    background-color: #EEEEEE;
    padding: 30px;
    box-sizing: border-box;
    bottom: 0;
}
#footer p{
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #EEEEEE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbbbb;
    font-size: 0.875rem;
}



/*----------floating-icon----------*/
.floating-icon-container {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}
.floating-icon {
    width: 40px;
    height: 40px;
    animation: floatUpDown 2s infinite cubic-bezier(0.5, 1.6, 0.4, 0.9);
}
@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}